//--------------------------------------------------------------Global--------------------------------------------------------------
                               //-------------------------------Colors-------------------------------

$colors:(
  purple_primary:#565978,
  purple_accent:#8b8ca1,
  red_caption:#d22954,
  purple_caption:#2e3579,
  purple_desc:#63687b,
  green_facilities:#0ab21b
);

@function color($color-name){
  @return map-get($colors,$color-name)
};

.purplecolor {
  background:color(purple_primary);
}

                                //-------------------------------Fonts-------------------------------
@font-face{
  src:url(assets/fonts/CharterBoldItalicBT.ttf);
  font-family: CharterBoldItalicBT;
};

@font-face{
  src:url(assets/fonts/Mirandolina-Bold-Regular.ttf);
  font-family: Mirandolina-Bold-Regular;
}
                                //-------------------------------Others-------------------------------


//--------------------------------------------------------------Body--------------------------------------------------------------

body {
  background: #f2f2f2; 
  // #bg{ 
  //   clip-path: circle(30.7% at 50% 0);
  //   background:map-get($colors,primary);
  //   position: relative;
  //   left:49%;
  //   width: 20%;
  //   height: 20%;
  //   transform: translate(-50%, 0);
  // }
}

body,html{
  height: 100%;
} 

                                  //-------------------------------Title-------------------------------

.page_title {
  color: white;
  font-size: 330%;
  letter-spacing: 3px;
  
  // font-family: 'M PLUS Rounded 1c', sans-serif;
  font-family:CharterBoldItalicBT ;
  // font-weight: bold;
}

.page_subtitle{
  color: white;
  font-size: 95%;
  letter-spacing: 5px;
  text-transform: uppercase;
  margin-top: -30px;
  // font-family: 'M PLUS Rounded 1c', sans-serif;
  font-family:Mirandolina-Bold-Regular ;
  color:color(purple_accent);
  // font-weight: bold;
}

                                      //-------------------------------NavBar-------------------------------

ul.navbar-nav {
  a { 
  // padding: 20px 20px 17px 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 13px;
  font-family: "Merriweather";
  font-weight: bold;
  
  -o-transition: .5s;
  -ms-transition: .5s;
  -moz-transition: .5s;
  -webkit-transition: .5s;

  transition: .5s;

  }

  a:hover { 
  color: #edb83a !important;
  }

   a.put_after:after {
    font-family: "FontAwesome";
    float: right;
    content: "\f111";
    font-size: 8px;
    margin-left: 35px;
    color: #edb83a;
  }
} 
                                          //-------------------------------Carousel-------------------------------
.carousel,.active{width:100%;}
.carousel-inner{width:100%;}
.item{
  width:100%;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.carousel-item{
   img{
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    -webkit-filter: opacity(.2);
    filter: opacity(.2);
  }
  .carousel-caption{
    top: 50%;
    transform: translateY(-50%);
    bottom: initial;
    h1{
      color:color(red_caption);
      font-family: 'Cinzel', serif;
      font-size: 72px;
      font-weight: 400;
      letter-spacing: 10px;
      text-transform: uppercase;
      padding: 10px 20px 10px 20px;

    }
    h3{
      color:color(purple_caption);
      font-size: 20px;
      font-family: "Merriweather";
      letter-spacing: 20px;
      text-transform: uppercase;
    }
    .desc{
      color:color(purple_desc);
      font-family: "Open Sans";
      font-size: 14px;
      font-weight: 600;
      padding: 10px 20px 10px 20px;
    }
  }
}

                                          //-------------------------------Thumbnail-------------------------------

.col-condensed {
  margin-left: 0px;
  margin-right: 0px;
  div[class^="col-"]{
    padding-left: 0px;
    padding-right: 0px;
  }
}
.row .room-item{

  .overlay{
        overflow: hidden;
        height: 84px;
        position: absolute;
        bottom: 0;
        background: #edb83a;
        padding: 35px 30px 20px;
        width: 100%;
        height: 84px;
        text-align: center;

        // p{
        //  text-align: center;
        // }
  }

 h1 {
    color: #333;
    font-family: "Cinzel";
    text-transform: uppercase;
    padding: 0;
    margin: 0;
    font-size: 16px;
    letter-spacing: 3px;
    position: relative;
    overflow: hidden!important;

  }
  a:hover{
   color:#8c8c8c;
  }
  
  .desc {
    height: 0;
    color: #333;
    padding-left: 30px;
    padding-right: 30px;
  }
  .desc-includes{
      // text-align: left;
      // margin-left: 40%;
    // transform: translate(-50%, 0);

  }

  .price {
      font-size: 32px;
      color:color(red_caption);
      font-family: "Cinzel";
      margin: 30px 0;
    }
    .facilities{
      color:color(green_facilities);
      font-weight: bold;
      font-size:85%;
      line-height: 26px;
      margin: 0 10px 15px 0;
      img{
        width: 20px;
        height: 20px;
      }

      span{
        margin-right: 8px;
      }
    }
    // .facilities:before {
    //   content: "";
    //   display: block;
    //   background: url("../assets/imgs/icons/wifi_facility.png") no-repeat;
      // width: 20px;
      // height: 20px;
    //   // float: left;
    //   // margin: 0 6px 0 0;
    // }

  //   .btn-border {
  //   border: solid 1px rgba(0,0,0,.3);
  //   background: none;
  //   padding: 5px 20px;
  //   color: #333;
  //   text-decoration: none!important;
  //   cursor: pointer;

  // }

  .btn-success,.btn-info{
    cursor: pointer
  }
}
.room-item:nth-child(odd) .overlay{
   background: #d6d6d6;
   border-bottom: solid 5px #63687b;
}

.room-item:nth-child(even) .overlay{
   background: #e5e5e5;
   border-bottom: solid 5px #d1b069;
}
